<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta name="author" content="Bojan Vasic">
    <meta name="description" content="CurrencyFair">
    <meta name="keywords" content="CurrencyFair">
    <title>CurrencyFair</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <script type='text/javascript' src='../js/vendor/jquery-3.3.1.js'></script>
    
  </head>
  <body>
    <div class="main-container">
      <div class="header-container">
        <div class="header">
          <div class="logo"><a href="http://vps621397.ovh.net/"></a></div>
        </div>
      </div>
      <div class="main-content-holder">
        <div class="main-left-container">
          <div class="transaction-panel">
            <!--NAVIGATION MENU -->
            <div class="trans-nav">
              <ul>
                <li>
                  <p class="step-no">Step 1</p>
                  <p class="step-desc">Transaction info</p>
                </li>
                <li>
                  <p class="step-no">Step 2</p>
                  <p class="step-desc">Recipient info</p>
                </li>
                <li>
                  <p class="step-no">Step 3</p>
                  <p class="step-desc">Make payment</p>
                </li>
              </ul>
            </div>
            <!--NAVIGATION MENU END-->
            <div class="trans-title">
              <p>Please complete the following form: (Read comments in code)</p>
            </div>
            <!--FORM COLLECTION-->
            <div class="trans-form">
              <div class="trans-send-container">
              <!--SENDING DATA VIA POST REQUEST-->
                <form action="/addperson" method="POST">
                  <div class="form-group">
                    <!--HERE IN REAL SCENARIO ID WOULD BE RENDERED BASED ON AUTHENTICATED USER-->
                    <label for="userId" class="col-lg-6">User ID:</label>
                    <input type="text" placeholder="userId" name="userId" class="input-group customField" value="<%= Math.floor(Math.random() * Math.floor(1000)); %>">
                  </div>
                  <div class="form-group">
                    <label for="currencyFrom" class="col-lg-6">Currency from:</label>
                    <select class="form-control pointer" value="EUR" name="currencyFrom">
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                        <option value="CAD">CAD</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="currencyTo" class="col-lg-6">Currency to:</label>
                    <select class="form-control pointer" value="EUR" name="currencyTo">
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                        <option value="CAD">CAD</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="amountSell" class="col-lg-6">Amount to sell:</label>
                    <input type="text" placeholder="" name="amountSell" class="input-group customField">
                  </div>
                  <div class="form-group">
                    <label for="amountBuy" class="col-lg-6">Amount to buy:</label>
                    <input type="text" placeholder="" name="amountBuy" class="input-group customField">
                  </div>
                  <div class="form-group">
                    <label for="rate" class="col-lg-6" class="col-lg-6">Rate:</label>
                    <!-- RATE IS FIXED HARDCODED -->
                    <input type="text" placeholder="5" value="5" name="rate" class="input-group customField">
                  </div>
                  <div class="form-group">
                    <label for="timePlaced" class="col-lg-6">Time:</label>
                    <input type="text" placeholder="timePlaced" name="timePlaced" value="<%= new Date().getHours()%>:<%=new Date().getMinutes() %>" class="input-group customField">
                  </div>
                  <div class="form-group">
                    <label for="originatingCountry" class="col-lg-6">Country of origin:</label>
                    <select class="form-control pointer" value="Ireland" name="originatingCountry">
                        <option value="Ireland">Ireland</option>
                        <option value="England">England</option>
                        <option value="France">France</option>
                        <option value="Usa">Usa</option>
                    </select>
                  </div>
                  <div class="form-group trans-submit">
                    <button type="Submit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
            <!--TRANSACTION CONVERSION FORM END-->
            <div class="cf-footer">
              <span>© 2018 CurrencyFair</span>
              <div class="cf-footer-links">
                <a href="#">Help & Support</a>
                <a href="#">T&C</a>
              </div>
            </div>
          </div>
        </div>
        <!-- RIGHT SIDEBAR PANEL-->
        <div class="main-right-container">
          <div class="confirmation-panel">
            <div class="sending-details">
              Front-end output from end-point service
            </div>
            <div class="sending-amount">
              <!-- RENDERING JSON DATA FROM DB -->
              <div>
                <ul>
                  <% for(var i=0; i<persons.length; i++) {%>
                  <li class="quote">
                    <div><b>USER ID:</b> <%= persons[i].userId %></div>
                    <div><b>CURRENCY FROM:</b> <%= persons[i].currencyFrom %></div>
                    <div><b>CURRENCY TO:</b> <%= persons[i].currencyTo %></div>
                    <div><b>SELLING AMOUNT:</b> <%= persons[i].amountSell %></div>
                    <div><b>BUYING AMOUNT:</b> <%= persons[i].amountBuy %></div>
                    <div><b>RATE:</b> <%= persons[i].rate %></div>
                    <div><b>TIME PLACED:</b> <%= persons[i].timePlaced %></div>
                    <div><b>COUNTRY OF ORIGIN:</b> <%= persons[i].originatingCountry %></div>
                  </li>
                  <hr>
                <% } %>
                </ul>
              </div>
            </div><form action="/erase" method="GET">
            <div class="trans-submit">
              <button type="Submit">Erase all records</button>
            </div>
          </form>
          </div>

        </div>
      </div>
    </div>
    <script type='text/javascript' src='../js/global.js'></script>
  </body>
</html>